<!DOCTYPE html>
<html lang="en">
<script src="../../js/jquery-2.1.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>运营商</title>
    <script type="text/javascript" src="../../static/js/carrier.js"></script>
    <script type="text/javascript" src="../../static/js/carrierData.js"></script>
</head>
<body onload="newloadCarrier();">
    <div class="divClass">
            <label>运营商:</label>

        <input name="carrierName"  id="carrierName" type="text" onfocus="setfocus(this)" oninput="setinput(this)">
        <select id="carrier_select"  onchange="carrierChange()"></select>
        <label>用户id:</label>
            <input name="userId"  id="userId" type="text" value="xy_test"><br/>

            <label>用户名:</label>
            <input name="loginId"  id="loginId" type="text">
            <label>密码:</label>
            <input name="loginPwd" id="loginPwd" type="text">
            <label>真实姓名:</label>
            <input name="realName"  id="realName" type="text">
            <label>身份证号码:</label>
            <input name="idCard" id="idCard" type="text"></br>
            <label>渠道:</label>
            <select id="project_select">
                <option value="GateWay_UAT13112">征信网关5.0 UAT环境(自有渠道商户) - 8000013112</option>
                <option value="GateWay_UAT12593">征信网关5.0 UAT环境(自有新渠道商户) - 8000012593</option>
                <option value="GateWay_5">征信网关5.0生产环境 - 1010544</option>
                <option value="GateWay_Private_5">征信网关5.0生产环境(自有新渠道商户) - 1107602</option>
                <option value="GateWay_Private_32911">征信网关5.0生产环境(自有渠道商户) - 1107601</option>
                <option value="GateWay_Test_Private_5">征信网关5.0测试环境(自有渠道商户) - 8000013112</option>
                <option value="GateWay_Test_5">征信网关5.0测试环境 - 8013659631</option>
                <option value="GateWay_Test_Private_12593">征信网关5.0测试环境(自有新渠道商户) - 8000012593</option>

            </select>
            <label>接入方式:</label>
            <select id="access_mode">
                <option value="api">api(加密)</option>
                <option value="web">web(免密)</option>
            </select>
            <input value="登录" name="submit" class="submit" type="submit" onclick='login()'>
        <!--<input value="登录22" name="submit" class="submit" type="submit" onclick='newloadCarrier()'>-->
        <br/>
        <br/>
        <label>验证码:</label>
            <img id="img_code" src=""  >
            <input name="i_img_code"  id="i_img_code" type="text">
            <input value="获取图片验证码" name="submit" class="submit" type="submit" onclick='getImgCode()'>
            <input value="验证码提交" name="submit" class="submit" type="submit" onclick='inputMsg()'>
            <input value="二次短信验证码下发" name="submit" class="submit" type="submit" onclick='getVCode()'>

        <br/>

        <label>获取验证码:</label>
        <input value="获取验证码" name="submit" class="submit" type="submit" onclick='getMsg()'>
        <br/>
        <label>第一条短信</label>
        <br/>
        <input name="firsttime"  id="firsttime" type="text" size="20">
        <input name="firstcontent"  id="firstcontent" type="text" size="150">
        <br/>
        <label>第二条短信</label>
        <br/>
        <input name="secondtime"  id="secondtime" type="text" size="20">
        <input name="secondcontent"  id="secondcontent" type="text" size="150">

    </div>



        <br/>
        <div id='resultSel'>
            <label>订单号:</label>
            <input name="tradeNo" id="tradeNo" type="text">
            <label>任务id:</label>
            <input name="taskId"  id="taskId" type="text">
            <input value="任务状态查询" name="submit" class="submit" type="submit" onclick='getImgCode()'>
            <input value="任务结果查询" name="submit" class="submit" type="submit" onclick='query()'><br/>
            <label>任务当前状态:</label>
            <br/>
            <textarea name="resultData"  id="resultData" rows="3" cols="200"> </textarea><br/>

            <input value="运营商渠道查询" name="submit" class="submit" type="submit" onclick='getChannelData()'><br/>
            <textarea name="channelData"  id="channelData" rows="3" cols="200"> </textarea><br/>
            <input id="msg" type="hidden">
        </div>
    <br/>
    <!--<HR style="border:3 double #987cb9" width="100%" color=#987cb9 SIZE=3>-->
        <br>
            <label>密码重置</label></br>
            <label>用户名:</label>
            <input name="loginIdReset"  id="loginIdReset" type="text">
            <label>真实姓名:</label>
            <input name="realNameReset"  id="realNameReset" type="text">
            <label>身份证号码:</label>
            <input name="idCardReset" id="idCardReset" type="text">
            <input value="密码重置" name="submit" class="submit" type="submit" onclick='passReset()'><br/>
            <label>任务id:</label>
            <input name="taskIdReset"  id="taskIdReset" type="text">
            <label>短信验证码:</label>
            <input name="resetVerifyCode" id="resetVerifyCode" type="text" hidden="hidden">
            <label>图片验证码:</label>
            <img id="reset_img_code" src=""  hidden="hidden">
            <input name="reset_i_img_code"  id="reset_i_img_code" type="text" hidden="hidden">
            <label>新密码:</label>
            <input name="resetPassword" id="resetPassword" type="text" hidden="hidden">

            <input value="用户输入提交" name="submit" class="submit" type="submit" onclick='inputReset()'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <input value="任务状态查询" name="submit" class="submit" type="submit" onclick='getStatusReset()'><br/>
            <br/>
            <textarea name="resultDataReset"  id="resultDataReset" rows="5" cols="200"> </textarea><br/>
        </div>
    </div>
    <!--<div>-->
        <!--<br/>-->
        <!--<input name="original"  id="original" type="text">-->
        <!--<input value="加密" name="aaa" class="submit" type="submit" onclick='encrypt();'>-->
        <!--<input name="encrypt"  id="encrypt" type="text">-->
        <!--<input value="解密" name="bbb" class="submit" type="submit" onclick='decrypt();'>-->
        <!--<input name="decrypt"  id="decrypt" type="text">-->
    <!--</div>-->
</body>
</html>