<!DOCTYPE html>
<html lang="en">
<script src="../../js/jquery-2.1.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>新网关运营商</title>
    <script type="text/javascript" src="../../static/js/delMailbill.js"></script>
</head>
<body onload="newloadCarrier();">
<div class="divClass">
    <div>

        <label>邮箱:</label>
        <input name="moblie" id="moblie" type="text"size="50">


        <br/>

        <br/>
        <textarea name="resultData"  id="resultData" rows="30" cols="200"> </textarea><br/>
        <label>清除状态:</label>
        <input value="清空" name="submit" class="submit" type="submit" onclick='clearlog()'>

    </div>
    <br/>
    <div>




    </div>
</div>
</body>
</html>
