<!DOCTYPE html>
<html lang="en">
<script src="../../js/jquery-2.1.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>公积金</title>
    <script type="text/javascript" src="../../static/js/fund.js"></script>
</head>
<body>
<div class="divClass">
    <div>

        <select id="select_city" onchange="changeCity()">
            <option value="">请选择城市</option>
        </select>
        <input value="加载城市信息" name="submit" class="submit" type="submit" onclick='queryAreaList()'>
        <input name="cityName"  id="cityName" type="text">
        <input value="城市快速查询" name="submit" class="submit" type="submit" onclick='queryCity()'>
        <input value="加载地市和登录信息" name="submit" class="submit" type="submit" onclick='queryFundLogin()'>
        <input value="获取公积金登录提示信息" name="submit" class="submit" type="submit" onclick='queryhelp()'>
        <select id="select_login" onchange="checkLoginType()">
            <option value="">请选择登录方式</option>
        </select>
        <label>渠道:</label>
        <select id="project_select">
            <option value="GateWay_UAT13112">征信网关5.0 UAT环境(自有渠道商户) - 8000013112</option>
            <option value="GateWay_UAT12593">征信网关5.0 UAT环境(自有新渠道商户) - 8000012593</option>
            <option value="GateWay_5">征信网关5.0生产环境 - 1010544</option>
            <option value="GateWay_Private_5">征信网关5.0生产环境(自有新渠道商户) - 1107602</option>
            <option value="GateWay_Private_32911">征信网关5.0生产环境(自有渠道商户) - 1107601</option>
            <option value="GateWay_Test_Private_5">征信网关5.0测试环境(自有渠道商户) - 8000013112</option>
            <option value="GateWay_Test_5">征信网关5.0测试环境 - 8013659631</option>
            <option value="GateWay_Test_Private_12593">征信网关5.0测试环境(自有新渠道商户) - 8000012593</option>
        </select>
        <label>接入方式:</label>
        <select id="access_mode">
            <option value="api">api(加密)</option>
            <option value="web">web(免密)</option>
        </select>
        <br/>
        <select id="select_addr" hidden="hidden">
            <option value="">请选择地市</option>
        </select>

        <label>姓名:</label>
        <input name="realName"  id="realName" type="text" hidden="hidden">
        <label>用户名:</label>
        <input name="loginId"  id="loginId" type="text" hidden="hidden">
        <label>密码:</label>
        <input name="loginPwd" id="loginPwd" type="password" hidden="hidden">
        <label>身份证号:</label>
        <input name="idCard"  id="idCard" type="text" hidden="hidden">
        <label>手机号:</label>
        <input name="mobile"  id="mobile" type="text" hidden="hidden">
        <label>单位账号:</label>
        <input name="corpAccount"  id="corpAccount" type="text" hidden="hidden">
        <label>地区:</label>
        <select id="select_area" hidden="hidden">
            <option value="">请选择地市</option>
        </select>



        <br/><input value="登录" name="submit" class="submit" type="submit" onclick='login()'>

        <label>验证码:</label>
        <img id="img_code" src=""  >
        <input name="i_img_code"  id="i_img_code" type="text">
        <input value="获取图片验证码" name="submit" class="submit" type="submit" onclick='getImgCode()'>
        <input value="验证码提交" name="submit" class="submit" type="submit" onclick='inputMsg()'>
        <br/>
        <label>订单号:</label>
        <input name="tradeNo"  id="tradeNo" type="text">
        <label>任务id:</label>
        <input name="taskId"  id="taskId" type="text">
        <input value="任务状态查询" name="submit" class="submit" type="submit" onclick='getImgCode()'><br/>
        <textarea name="resultData"  id="resultData" rows="5" cols="200"> </textarea><br/>

        <label>任务历史状态:</label>
        <br/>
        <textarea name="logStatus"  id="logStatus" rows="10" cols="200"> </textarea><br/>
    </div>
    <div>
        <input value="模拟通知" name="submit" class="submit" type="submit" onclick='notify()'> &nbsp;&nbsp;&nbsp;
        <input value="任务结果查询" name="submit" class="submit" type="submit" onclick='query()'>
    </div>
</div>
</body>
</html>