<!DOCTYPE html>
<html lang="en">
<script src="../../js/jquery-2.1.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>天机</title>
    <script type="text/javascript" src="../../static/js/newCarrierTianji.js"></script>
</head>
<body onload="newloadCarrier();">
<div class="divClass">
    <div>


        <label>环境:</label>
        &nbsp;&nbsp;
        <select id="project_select">
            <!--  <option value="buildnewgateWayUAT">新网关UAT环境  </option>-->
            <option value="buildnewgateWayUAT_8013933867">新网关UAT环境_8013933867  </option>
            <option value="buildnewgateWayUAT_8013933878">新网关UAT环境_8013933878  </option>
            <option value="buildnewgateWayUAT_8000013112">新网关UAT环境_8000013112  </option>
            <!--<option value="buildnewgateWaySC">生产新网关 （不走缓存） </option>-->
            <option value="GateWay_new_SC_1107602">新气象（生产5.0）1107602（不走缓存）  </option>
            <option value="GateWay_new_SC_1107603">新气象（生产5.0）1107603  </option>
            <option value="GateWay_new_SC_1107604">新气象（生产5.0）1107604  </option>

          <!--  <option value="buildnewgateWaySCA">生产新网关A环境  </option>
            <option value="buildnewgateWaySCA">生产新网关A环境  </option>
            <option value="buildnewgateWaySCA">生产新网关A环境  </option>
            <option value="buildnewgateWaySCB">生产新网关B环境  </option>-->

            <!--<option value="buildnewgateWaySCA">生产新网关A环境 （不走缓存）</option>-->
            <option value="GateWay_new_SCA_1107602">新气象（生产5.0）A环境1107602（不走缓存）  </option>
            <option value="GateWay_new_SCA_1107603">新气象（生产5.0）A环境1107603  </option>
            <option value="GateWay_new_SCA_1107604">新气象（生产5.0）A环境1107604  </option>
            <!--<option value="buildnewgateWaySCB">生产新网关B环境 （不走缓存） </option>-->
            <option value="GateWay_new_SCB_1107602">新气象（生产5.0）B环境1107602（不走缓存）  </option>
            <option value="GateWay_new_SCB_1107603">新气象（生产5.0）B环境 1107603  </option>
            <option value="GateWay_new_SCB_1107604">新气象（生产5.0）B环境 1107604  </option>

            <option value="buildnewgateWayA">测试新网关-a环境  </option>
            <option value="buildnewgateWayB">测试新网关-b环境</option>
        </select>
        &nbsp;&nbsp;
        <label>运营商:</label>
        <input name="carrierName"  id="carrierName" type="text" onfocus="setfocus(this)" oninput="setinput(this)"size="10">
        &nbsp;&nbsp;

        <select id="carrier_select"  onchange="carrierChange()"></select>
        <input name="datasource"  id="datasource" type="text" hidden="hidden">
        <input name="LoginCode"  value="1217" id="LoginCode" type="text" hidden="hidden">


        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <label>渠道:</label>
       <!-- <input name="channel" id="channel" type="text" size="10">-->
        <select id="channel">
            <option value="">走默认渠道 </option>
            <option value="1">网厅</option>
            <option value="2">商城</option>
            <option value="3">通用app</option>
            <option value="4">私有app</option>
            <option value="5">wap</option>
            <option value="6">通用wap</option>
            <option value="7">app10086</option>


        </select>
        &nbsp;&nbsp;
        <label>dataNotifyUrl：</label>
        <input name="dataNotifyUrl" value="" id="dataNotifyUrl" type="text">
        <label>reportNotifyUrl：</label>
        <input name="reportNotifyUrl" value="" id="reportNotifyUrl" type="text">
        <label>terminalId：</label>
        <input name="terminalId" value="" id="terminalId" type="text">
        <br/>
        <label>手机号:</label>
        <input name="moblie"  id="moblie" type="text" size="10">
        <label>密码:</label>
        <input name="loginPwd" id="loginPwd" type="text" size="10">
        <label>真实姓名:</label>
        <input name="realName"  id="realName" type="text" size="10">
        <label>身份证号码:</label>
        <input name="idCard" id="idCard" type="text">



        <input value="创建任务" name="submit" class="submit" type="submit" onclick='login()'>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;


        <label  id="labesuprisepassword" hidden="hidden" >彩蛋秘钥:</label>
        <input name="彩蛋秘钥"  id="suprisepassword"  type="password">
        <input value="彩蛋" name="submit" class="submit" type="submit" onclick='Surprise()'>
        <br/>
        <br/>
        <label>请输入密码:</label>
        <input name="password"  id="password" type="password" size="10">
        <br/>

        <br/>
        <label>验证码:</label>

        <input name="i_img_code"  id="i_img_code" type="text">
        <input name="i_img_code_hide"  id="i_img_code_hide" type="text" hidden="hidden">
        <input value="验证码提交" name="submit" class="submit" type="submit" onclick='inputMsg()'>
        <br/>
        <br/>
        <br/>
        <label>获取验证码:</label>
        <input value="获取验证码" name="submit" class="submit" type="submit" onclick='getMsg()'>
        <br/>
        <label>第一条短信</label>
        <br/>
        <input name="firsttime"  id="firsttime" type="text" size="20">
        <input name="firstcontent"  id="firstcontent" type="text" size="150">
        <br/>
        <label>第二条短信</label>
        <br/>
        <input name="secondtime"  id="secondtime" type="text" size="20">
        <input name="secondcontent"  id="secondcontent" type="text" size="150">

    </div>
    <br/>
    <br/>
    <div id='resultSel'>
        <label>任务创建结果:</label>
        <br/>
        <textarea name="resultData"  id="resultData" rows="5" cols="200"> </textarea><br/>
        <a id="urlid" href="#"  target="_blank"onclick="getUrl();return false">进入天机H5页面</a>

        <br/>
        <br/>
        <label>任务订单号: 暂时未找到返回结果 需去官网查询</label>
        <input name="userId" id="userId" type="text"size="50">
        <br/>
        <label>报告订单号:</label>
        <input name="tradeNo" id="tradeNo" type="text"size="50">

        <!--<label>订单号:</label>-->
        <!--<input name="tradeNo" id="tradeNo" type="text"size="50">-->

    </div>
    <br/>
    <div>
        <input value="任务结果查询" name="submit" class="submit" type="submit" onclick='getData()'>
        &nbsp;&nbsp;

        <input value="任务报告查询" name="submit" class="submit" type="submit" onclick='getReport()'>

        <br/>
        <textarea name="resultReport"  id="resultReport" rows="20" cols="200"> </textarea><br/>



    </div>
</div>
</body>
</html>
