<!DOCTYPE html>
<html lang="en">
<script src="../../js/jquery-2.1.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>新网关运营商</title>
    <script type="text/javascript" src="../../static/js/updateCarrier.js"></script>
</head>
<body onload="newloadCarrier();">
<div class="divClass">
    <div>



        <label>更新数据库密码:</label>
        &nbsp;&nbsp;   &nbsp;&nbsp;
        <br>
        <label>手机号:</label>
        <input name="mobile"  id="mobile" type="text" size="10">
        <label>新密码:</label>
        <input name="newpassword" id="newpassword" type="text">
        <label>操作人员:</label>
        <input name="updateby" id="updateby" type="text">
        <input value="更新数据库密码" name="submit" class="submit" type="submit" onclick='updatepassword()'>


    </div>
</div>
</body>
</html>
